@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: xx-large;
}

label {
  font-size: x-large;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.button-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.sizeChooser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn {
  padding: 5px 30px;
  font-size: large;
  background-color: transparent;
  border: 2px solid black;
  width: 125px;
  height: 50px;
}

.btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
}

button.active {
  background-color: black;
  color: white;
}

input[type='color'] {
  -webkit-appearance: none;
  border: none;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

input[type='color']::-moz-color-swatch {
  border: none;
}

#colorPicker {
  padding: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 2px solid black;
}

#colorPicker:hover {
  transform: scale(1.05);
}

.individual-grid {
  user-select: none;
  cursor: url('cursor.cur'), auto;
}

#sizeRange {
  cursor: pointer;
}

#grid {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid gray;
  height: 400px;
  width: 400px;
}

@media screen and (min-width: 640px) {
  #grid {
    height: 500px;
    width: 500px;
  }
  .button-options {
    flex-direction: row;
  }
}
